# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\tedemos\z2108\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
